# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# PyTorch
*.pt
*.pth
*.ckpt

# Outputs
outputs/
checkpoints/
logs/
wandb/
runs/

# Dataset
datasets/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
SIM-APA-final-checkpoints.zip
*.pth
*.zip
